

<html>
 <head>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width-device-width, initial-scale-1">
 	<title>Alex ATC - Developpeur Fullstack Web Ruby on Rails</title>
 	<link rel="stylesheet" type="text/css" href="css/minireset.min.css">
 	<link rel="stylesheet" type="text/css" href="css/main.css">
 </head>
 <body>
 
<div class="wallpaper"></div>
 <div class="content">
  <aside class="side">
  <figure class="picture">
  <div class="picture-shadow"></div>
   <img id="pictureImage" class="picture-image"
   <%= image_tag("logo.png", :alt => "logo") %>
   </aside>
  <main class="about">
 <!--  <%= link_to 'About', about_path %> -->
<h1 class="name">
Hello world, i'm Alex ATC
</h1>
<p class="job">
Développeur Fullstack Web Ruby on Rails
</p>
<hr class="hr">
<div class="description">
<p>
Developpement web, gestion de projet, marketing inbound, creation de contenu j'accompagne les entreprises dans leurs projets digitaux.
</p>
</div>
<div class="contact">
<a class="button" href="mailto:youremail@example.com">
Contact
</a>
</div>
</main>
</div>

 </body>
</html>